body {
  background: Linear-gradient(45deg, #ccffff, #ffffcc);
  font-family: Courier;
  color: purple;
}
.black-text {
  color: black;
}
h1 {
  text-transform: capitalize;
  font: size 68px;
  font-weight: 500;
}
a {
  position: relative;
  top: 10px;
}
input {
  position: relative;
  top: 20px;
}
button {
  position: relative;
  top: 20px;
  left: 15px;
}
img {
  position: relative;
  left: 25px;
  top: 20px;
}
ol {
  position: relative;
  bottom: 20px;
}
.blue {
  background-color: hsl(240, 100%, 50%);
}
div {
  display: inline-block;
  height: 100px;
  width: 100px;
}
